/* hero img (unsplash img GGB) */
section .hero {
    background-image: url("../../images/golden-gate-bridge.jpg");
    alt: "golden-gate-bridge";
    height: 550px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    border-bottom: 5px double #FFC72C;
}

/* turning off parallax on small viewports*/
@media only screen and (max-device-width: 475px) {
    section .hero {
        background-image: url("../../images/golden-gate-bridge.jpg");
        alt: "golden-gate-bridge";
        height: 550px;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: 50% 30%;
        background-size: cover; 
    }    
}

/* hero text */
section figure h1 {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 4px #041E42;
    font-weight: 510;

    text-transform: uppercase;
    color: #FFC72C;
    display:flex;
    align-items: center;
    justify-content: center;
}

.row{
    margin-bottom: 0px;
}